@model IEnumerable<Lecture22MultitableWithSearchOption.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@using (Html.BeginForm("Index", "Employees", FormMethod.Get))
{

    <b>search</b>

    @Html.RadioButton("searchby", "Name", true) <b>Name</b>
    @Html.RadioButton("searchby", "gender") <b>Gender</b>
    @Html.RadioButton("searchby", "salary") <b>salary</b>
    @Html.TextBox("search") <input type="submit" value="Search" />


}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
